body {
    margin-inline: 40px;
}

nav {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap!important;
}

nav a.navbar-brand {
    width: 150px;
    margin-inline-start: -12px;
}

nav .nav-item, nav span {
    font-weight: 500;
}

nav div:nth-of-type(1) div:nth-of-type(2) li ul{
    left: -120px;
}

i, nav span, main h2, .carousel h5, footer p {
    color: white;
}

.user {
    width: 25px;
    height: 25px;
    background: url('./assets/imgs/avatar-1.jpg');
    background-size: contain;
    border: none;
    position: relative;
}

.bi-caret-down-fill {
    font-size: xx-small!important;
    position: absolute;
    left: 30px;
    top:5px;
}

main {
    margin-top: 40px;
}

.dropdown button{
    border: 1px solid;
    border-radius: 0;
    font-weight: 600;
    padding: 5px;
}

.list-grid-icons {
    display: flex;
    height: fit-content;
}

.bi-grid, .bi-list-nested {
    border: 1px solid;
    padding-inline: 9px;
    
}

.carousel {
    margin-top: 20px;
}

.carousel-indicators {
    top: 0;
    left: 900px;
    right: -380px;
}

.carousel-item .row img {
    width: 100%;
    transition: 0.5s;
    transition-delay: 0.2s;
}

.carousel-item .row img:hover {
    transform: scale(1.2); 
    transition: transform 0.3s ease;
}

.carousel button {
    width: 5%;
}

.carousel-control-prev, .carousel-control-next {
    top: 28%;
}

footer {
    margin-top: 130px;
}

footer div, footer div:nth-of-type(2) div:nth-child(1) button, footer p, footer i {
    color: grey;
}

footer div:nth-of-type(2) div:nth-child(1) button{
    width: fit-content;
    border: solid 1px grey;
}

footer span:hover {
    color:white;
}

footer p {
    font-size: xx-small;
}

nav .nav-item, span, .dropdown button, footer div:nth-of-type(2) div:nth-child(1) button {
    font-size: small;
} 
